*{
    background-color: #cfd6f2 ;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.caja{
    width: 940px;
    position: relative;
}

header{
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #0d1c59;
}

.logo{
    padding-top: 30px;
    width: 100px;
}

main{  
    padding: 30px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}


.msj-encriptar{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #0d1c59;
    border: none;
    outline: none;
}

.advertencia{
    margin: 10px 0 20px 0;
}

.btn-encriptar{
    padding: 20px;
    width: 25%;
    height: 60%;
    border-radius: 14px;
    margin-left: 5%;
    border: none;
    cursor: pointer;
    background: #0A3871;
    color: white;
    font-size: larger;
}

.btn-desencriptar, .btn-reiniciar{
    padding: 20px;
    width: 25%;
    height: 60%;
    border-radius: 14px;
    margin-left: 5%;
    border: none;
    cursor: pointer;
    background: #a5c2e8;
    font-size: larger;
}

.msj-encriptado{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #0d1c59;
    border: none;
    outline: none;
    display: none;
}


.btn-copiar{
    padding: 20px;
    width: 40%;
    height: 10%;
    border-radius: 14px;
    margin-left: 33%;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    background: #a5c2e8;
    font-size: larger;
    display: none;
}

h4{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

h5{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
}


footer{
    text-align: center;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: small;
}

.redes{
    margin: 8px 8px 0 0;
    cursor: pointer;
    width: 25px;
}

@media screen and (max-width:480px){

    .caja, .botones{
        width: auto;
        
    }
    
    .logo{
        padding-top: 30px;
        width: 80px;
    }

    main{
        display: flex;
        width: 90%;
        flex-direction: column;
    }
    


    header{
        display: flex;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
    }

    

    .btn-desencriptar, .btn-reiniciar, .btn-encriptar{
        padding: 18px;
        width: 42%;
        height: 60%;
        border-radius: 14px;
        text-align: center;
        margin: 5px 5px 5px 0;
   
       
    }

    .texto-no-encontrado, .msj-encriptado{
        margin-top: 30px;
    }
}